<h2>Experience</h2>

<ul class="b">
    <p style="text-align:center;padding-bottom: 25px">
        <img src="../assets/images/llnl.png" width="225" height="86.625" />
    </p>
    <li class="a">
        <b>Student Intern, Lawrence Livermore National Laboratory</b>
        <a href="https://llnl.gov" target="_blank">
          <img src="../assets/images/chainlink.png" width="25" height="25">
        </a>
  
    </li>

    <li class="c">
      Livermore, CA
    </li>
    <li class="c">
        <b>May-August 2018</b>
    </li>
    <li class="b" style="margin-left: 50px;">Worked with a team on an initiative to develop a data archive (using Angular 6 for the front-end
      web app, Node.js for middle tier API server, and Marklogic for the backend data store) to address
      the growing data management needs throughout the weapons complex. 
    </li>
    <li class="b" style="margin-left: 50px;">Participated in planning meetings, and used scrum project planning to ensure that we met the
      project deadlines. Created an LLNL group website using HTML to serve as the landing page.
    </li>
    <br>
    <li class="c">
        <b>May-August 2017</b>
        <li class="c text-muted small">
            <a class="resume_button" href="../assets/files/JordanLewis_LabSummerPoster_17.pdf" target="_blank" rel="nofollow noopener">Summer Poster PDF</a>
    
    </li>
    <li class="b" style="margin-left: 50px;">Created the Enterprise Architecture Tool using JavaScript, a web application that visually
      represents interconnected dependencies between software packages. The tool helps reduce downtime
      when updating/changing software by limiting unforeseen conflicts.
    </li>
    <li class="b" style="margin-left: 50px;">Created import templates/scripts to enable component and material data file import into a
      commercial material information management system using Java APIs.
    </li>
    <br>
    <li class="c">
        <b>May-August 2016</b>
    </li>
    <li class="b" style="margin-left: 50px;">Created import templates/scripts to enable component and material data file import into a
      commercial material information management system using Java APIs.
    </li>
</ul>
<br>
<br>
