<h2>Experience</h2>
<div class="fade4">
    <ul class="b">
        <p style="text-align:center;padding-bottom: 25px">
            <img src="../assets/images/usaa.png" style="max-width:15%; height:auto;"  />
        </p>
        <li class="a">
            <b>United Services Automobile Association</b>
            <a href="https://www.usaa.com/" target="_blank"><img src="../assets/images/chainlink.png" width="25" height="25"></a>
            <br>
        </li>
    
        <!-- <li class="c">
          Livermore, CA
        </li> -->
        <br>
        <li class="c">
            Software Engineer II <br>August 2021-Present
            <li class="c text-muted small">
                <!-- <a class="resume_button" href="../assets/files/JordanLewis_LabSummerPoster_18.png" target="_blank" rel="nofollow noopener">Summer Poster Image</a> -->
        </li>
        <li class="b" style="margin-left: 50px;">Developing small batch data load processes using Domino, R, Python, and Git.
        </li>
        <li class="b" style="margin-left: 50px;">Programming ETL jobs using Python, shell scripts, and IBM DataStage. 
        </li>
        <li class="b" style="margin-left: 50px;">Developing and maintaining data integrity through run time controls over various data hops    
        </li>
        <li class="b" style="margin-left: 50px;">Instructing quarterly course to bring employees up-to-speed on IBM DataStage as well as ETL methodologies.
        </li>
        <li class="b" style="margin-left: 50px;">Primary technologies: Domino, R, Python, Oracle, DataStage, Control-M, Tableau.
        </li>
        <br>
        <br>
        <li class="c">
            Software Engineer III <br>September 2019-August 2021
            <li class="c text-muted small">
                <!-- <a class="resume_button" href="../assets/files/JordanLewis_LabSummerPoster_18.png" target="_blank" rel="nofollow noopener">Summer Poster Image</a> -->
        </li>
        <li class="b" style="margin-left: 50px;">Developing and supporting ETL processes which provide crucial data to business partners for analysis.
        </li>
        <li style="list-style-type:none">
            <ul>
                <li class="b" style="margin-left: 50px;">Collaborating in agile project planning to ensure project deadlines are met.  
                </li>
                <li class="b" style="margin-left: 50px;">Attending daily standup meetings.  
                </li>
           </ul>
        </li>
        <li class="b" style="margin-left: 50px;">Leading quarterly onboarding course intended to bring college hires to come up-to-speed on IBM DataStage as well as USAA proprietary technology.    
        </li>
        <li class="b" style="margin-left: 50px;">Leading quarterly course intended to refresh current employees on IBM DataStage as well as USAA proprietary technology.    
        </li>
        <li class="b" style="margin-left: 50px;">Coordinating "Developer Community of Practice" meetings, providing a platform for technology experts to share valuable information about new/prevalant technologies within USAA.
        </li>
        <li class="b" style="margin-left: 50px;">Coordinating "Innovation" events, giving fellow engineers an opportunity every iteration to devote two weeks of their time to brainstorm and quickly iterate upon ideas which can provide value to USAA.
        </li>
        <li class="b" style="margin-left: 50px;">Member of "Pulse" organization, allowing me to directly convey my own/fellow teammates questions and feedback to senior managers, as well as relay information back to the team.
        </li>
        <br>
        <br>
        <!-- <li class="b" style="margin-left: 50px;">Working on Google Analytics and Google AdWords for <a href="https://www.spectra-physics.com" target="_blank" rel="nofollow noopener">Spectra-Physics.com</a>
        </li> -->
        
    </ul>
<ul class="b">
    <p style="text-align:center;padding-bottom: 25px">
        <img src="../assets/images/mks.png" style="max-width:22%; height:auto;"  />
    </p>
    <li class="a">
        <b>MKS Instruments</b>
        <a href="https://www.mksinst.com/" target="_blank"><img src="../assets/images/chainlink.png" width="25" height="25"></a>
        <br>
        
        <b>Spectra-Physics Lasers Group</b>
        <a href="https://www.spectra-physics.com/" target="_blank"><img src="../assets/images/chainlink.png" width="25" height="25"></a>
    </li>

    <!-- <li class="c">
      Livermore, CA
    </li> -->
    <br>
    <li class="c">
        Data Analyst Intern, Product Marketing <br>June 2019-Aug 2019
        <li class="c text-muted small">
            <!-- <a class="resume_button" href="../assets/files/JordanLewis_LabSummerPoster_18.png" target="_blank" rel="nofollow noopener">Summer Poster Image</a> -->
    </li>
    <li class="b" style="margin-left: 50px;">Supported the product marketing group by developing dashboards in Microsoft Power BI, and performing data analytics utilizing a SQL Microsoft Azure Cloud database.
    </li>
    <!-- <li class="b" style="margin-left: 50px;">Working on Google Analytics and Google AdWords for <a href="https://www.spectra-physics.com" target="_blank" rel="nofollow noopener">Spectra-Physics.com</a>
    </li> -->
    
</ul>
<br>
<br>
<ul class="b">
    <p style="text-align:center;padding-bottom: 25px">
        <img src="../assets/images/llnl.png" width="225" height="86.625" />
    </p>
    <li class="a">
        <b>Lawrence Livermore National Laboratory</b>
        <a href="https://www.llnl.gov/" target="_blank"><img src="../assets/images/chainlink.png" width="25" height="25"></a>
        <br>
        <b>Computation Directorate</b>
        <a href="https://computation.llnl.gov/" target="_blank"><img src="../assets/images/chainlink.png" width="25" height="25"></a>
    </li>

    <!-- <li class="c">
      Livermore, CA
    </li> -->
    <br>
    <li class="c">
        Computation Scholar Intern<br>May-August 2018
        <li class="c text-muted small">
            <a class="resume_button" href="../assets/files/JordanLewis_LabSummerPoster_18.png" target="_blank" rel="nofollow noopener">Summer Poster</a>
    </li>
    <li class="b" style="margin-left: 50px;">Worked with a team on a unified data storage solution to address the growing data management needs at LLNL. 
    </li>
    <li style="list-style-type:none">
        <ul>
            <li class="b" style="margin-left: 50px;">Participated in the development of the front-end web app to serve as the user interface, using Angular 6.  
              </li>
            <li class="b" style="margin-left: 50px;">Collaborated in Scrum project management planning to ensure project deadlines were met.
              </li>
       </ul>
    </li>
    <li class="b" style="margin-left: 50px;">Created an LLNL internal homepage in HTML for the Nondestructive Evaluation Group. Serves as a location for customers to locate the data archive portal, mission statement, and team member contact information. 
      </li>
    <br>
    <li class="c">
        Computation Scholar Intern<br>May-August 2017
        <li class="c text-muted small">
            <a class="resume_button" href="../assets/files/JordanLewis_LabSummerPoster_17.pdf" target="_blank" rel="nofollow noopener">Summer Poster</a>
        </li>
    <li class="b" style="margin-left: 50px;">Created a web application (Enterprise Architecture Tool) using JavaScript that visually represents interconnected dependencies between software packages. The tool helps reduce downtime when updating/changing software by limiting unforeseen conflicts.
    </li>
    <li class="b" style="margin-left: 50px;">Attended weekly technical staff meetings and technical seminars.
    </li>
    <br>
    <li class="c">
        Computation Scholar Intern<br>May-August 2016
    </li>
    <li class="b" style="margin-left: 50px;">Created import templates/scripts to enable component and material data file import into a commercial material information management system using Java APIs.
    </li>
    <li class="b" style="margin-left: 50px;">Attended weekly technical staff meetings and technical seminars.
    </li>
</ul>
</div>
<br>
<br>
<br>