<h2>Activities</h2>


<ul class="b">
    
        <p style="text-align:center;">
                <img src="../assets/images/soda.png" width="225.04999999999998" height="64.39999999999999" />
            </p>
            <li class="a">
                <b>The Software Developers Association</b>
                <a href="http://thesoda.io/" target="_blank">
                    <img src="../assets/images/chainlink.png" width="25" height="25">
                </a>
            </li>
        
            <li class="c">
                Software Developer Club
            </li>
            <li class="b" style="margin-left: 50px;">
                    I'm a member of the Software Developers Association (SoDA) and participate in weekly meetings to expand my involvement in the engineering community and connect with other students that are passionate about programming and software engineering.
            </li>
        <br>
        <br>
        <p style="text-align:center;">
            <img src="../assets/images/bjj.png" width="100" height="100" />
        </p>
        <li class="a">
            <b>Brazilian Jiu-Jitsu</b>
        </li>
    
        <li class="c">
          Martial Art
        </li>
        
        <li class="b" style="margin-left: 50px;">
            Brazilian Jiu-Jitsu is a fun and healthy outlet for me when I am not doing academic work. 
        </li>    
        <br>
        <br>
    </ul>
    <br>
    <br>