.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}


.flexcontainer {
    display: flex;
    align-items: center;
  }
  @media (max-width: 320px) {
    .flexcontainer {
      display: block;
    }
  }

ul.b {
    list-style-type: square;
    margin: auto;
    width: 50%;
    padding: 10px;
    
}

li.a {
    padding-bottom: 0px;
    list-style: none;
}

li.b {
    padding-bottom: 0px;
   
}

li.c {
    padding-bottom: 10px;
    list-style: none;
}
li.d {
    padding-bottom: 0px;
    list-style: none;
}

li.e {
    padding-bottom: 10px;
}


.alignleft {
	float: left;
}
.alignright {
	float: right;
}