<a name="education"></a>
<div class="center flexcontainer">
    <img src="../assets/images/asuseal.png" width="150" height="150"/>
    <ul class="b">
        <li class = "a"><b>Arizona State University</b></li>
        
        <li class="c">
            B.S. Computer Science
            <span style="margin-left: 250px;">Expected May 2019</span>
        </li>
        <li class = "d">
            <p><b>GPA: </b>3.41 </p>
        </li>
        <li class = "c"><b>Awards</b></li>
            <li class = "b" style="margin-left: 50px;">New American University Scholar Dean's Award</li>
            <li class = "b" style="margin-left: 50px;">Pedrozzi Foundation Scholarship Award</li>
            <li class = "e" style="margin-left: 50px;">Dean’s List</li>
        <li class = "c" ><b>Coursework</b></li>
            <li class = "b" style="margin-left: 50px;">Data Structures and Algorithms</li>
            <li class = "b" style="margin-left: 50px;">Human Computer Interaction</li>
            <li class = "b" style="margin-left: 50px;">Intro to Software Engineering</li>
            <li class = "b" style="margin-left: 50px;">Intro to Theoretical Computer Science</li>
            <li class = "b" style="margin-left: 50px;">Operating Systems</li>
            <li class = "e" style="margin-left: 50px;">Principles of Programming Languages</li>
    </ul>
</div>

