<a name="education"></a>

<h2>Education</h2>

<ul class="b">
    <p style="text-align:center;">
        <img src="../assets/images/asuseal.png" width="150" height="150" />
    </p>
    <li class="a">
        <b>Arizona State University</b>
    </li>

    <li class="c">
        B.S. Computer Science
        <p style="float:right;text-align:right;padding-left:15px"> Expected May 2019</p>
    </li>
    <li class="d">
        <p>
            <b>GPA: </b>3.41 </p>
    </li>
    <li class="c">
        <b>Awards</b>
    </li>
    <p>
    <li class="b" style="margin-left: 50px;">New American University Scholar Dean's Award
            <p style="float:right;text-align:right;padding-left:15px"> 2015 - Present</p>
    </li>
    </p>
    <p>
    <li class="b" style="margin-left: 50px;">Pedrozzi Foundation Scholarship Award
            <p style="float:right;text-align:right;padding-left:15px"> 2015 - Present</p>
    </li>
    </p>
    <p>
    <li class="e" style="margin-left: 50px;">Dean’s List
            <p style="float:right;text-align:right;padding-left:15px"> Fall 2016 / Spring 2017</p>
    </li>
    </p>
    <li class="c">
        <b>Coursework</b>
    </li>
    <li class="b" style="margin-left: 50px;">Design and Analysis of Algorithms</li>
    <li class="b" style="margin-left: 50px;">Data Structures and Algorithms</li>
    <li class="b" style="margin-left: 50px;">Database Management</li>
    <li class="b" style="margin-left: 50px;">Multimedia Information Systems</li>
    <li class="b" style="margin-left: 50px;">Human Computer Interaction</li>
    <li class="b" style="margin-left: 50px;">Operating Systems</li>
    <li class="b" style="margin-left: 50px;">Principles of Programming Languages</li>
    <li class="b" style="margin-left: 50px;">Intro to Software Engineering</li>
    <li class="b" style="margin-left: 50px;">Intro to Theoretical Computer Science</li>
    <li class="b" style="margin-left: 50px;">Computer Organization & Assembly Language Programming</li>
    <li class="b" style="margin-left: 50px;">Applied Linear Algebra</li>
    <li class="b" style="margin-left: 50px;">Digital Design Fundamentals</li>
    <li class="b" style="margin-left: 50px;">Logic In Computer Science </li>
    <li class="b" style="margin-left: 50px;">Discrete Math Structures </li>
    <li class="b" style="margin-left: 50px;">Computing Ethics</li>
    <li class="e" style="margin-left: 50px;">Public Speaking</li>
    <li class="c">
        <b>Clubs</b>
    </li>
    <li class="e" style="margin-left: 50px;">SoDA: The Software Developers Association</li>

   
</ul>