a {
  color:inherit;
  text-decoration: underline;
 }

hr
{
  opacity: 1;
  width: 50%;
}


h2 { 
  color: black; 
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 50px; 
  font-weight: normal; 
  line-height: 100px; 
  margin: 0 0 50px; 
  text-align: center; 
  text-shadow: 1px 1px 2px #08293100; 
  
}




ul.b {
  list-style-type: square;
  margin: auto;
  width: 45%;
  padding: 10px;
  
  
}

li.a {
  padding-bottom: 0px;
  list-style: none;
}

li.b {
  padding-bottom: 0px;
 
}

li.c {
  padding-bottom: 10px;
  list-style: none;
}
li.d {
  padding-bottom: 0px;
  list-style: none;
}

li.e {
  padding-bottom: 10px;
}


.alignleft {
float: left;
}
.alignright {
float: right;
}

fade5
{}

iframe
{
  text-align:center;
}

button
{
  display:block;
  margin:0 auto;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  
  
  background-color: rgba(238, 238, 238, 0);
  color: #444;
  cursor: pointer;
  padding: 18px;
  /* width: 50%; */
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;

}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: rgba(204, 204, 204, 0);
  color: rgb(143, 142, 142)
}

/* Style the collapsible content. Note: hidden by default */
.content {
  text-align: center;
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f100;
  
}

.holder{
  pointer-events:none;
  width: 100%;
  height:100%;
  position:relative;
}