<h2>Projects</h2>

<ul class="b">
    <p style="text-align:center;">
        <img src="../assets/images/personalwebsite.png" width="73.5" height="60" />
    </p>
    <li class="a">
        <b>JordanAllenLewis.com</b>
        <a href="https://github.com/jordanallenlewis/Jordan-Lewis-Personal-Website" target="_blank">
            <img src="../assets/images/github.png" width="25" height="25">
        </a>
    </li>

    <li class="c">
      Personal Website
    </li>
    
    <li class="b" style="margin-left: 50px;">
        A personal project intended to showcase my academic and technical portfolio to potential employers. 
    </li>
    <li class="b" style="margin-left: 50px;">
            Developed using Angular 6 (Typescript, HTML, CSS).
    </li>


    <br>
    <br>

    <p style="text-align:center;">
        <img src="../assets/images/mobilewebsite.png" width="102.4" height="82.2" />
    </p>
    <li class="a">
        <b>m.JordanAllenLewis.com</b>
        <a href="https://github.com/jordanallenlewis/Jordan-Lewis-Personal-Website-Mobile" target="_blank">
            <img src="../assets/images/github.png" width="25" height="25">
        </a>
    </li>

    <li class="c">
      Personal Website
    </li>
    
    <li class="b" style="margin-left: 50px;">
        A personal project aimed at redesigningz the desktop version of my website so that it is accessable by mobile users.
    </li>
    <li class="b" style="margin-left: 50px;">
            Developed using Ionic (Typescript, HTML, CSS).
    </li>
    <br>
    <br>

    <p style="text-align:center;">
        <img src="../assets/images/ar.png" width="100" height="100" />
    </p>
    <li class="a">
        <b>Applied Behavior Analysis: Augmented Reality</b>
        <a href="https://devpost.com/software/a-b-a-a-r" target="_blank">
            <img src="../assets/images/chainlink.png" width="25" height="25">
        </a>
    </li>

    <li class="c">
      Augmented Reality Program
    </li>
    
    <li class="b" style="margin-left: 50px;">
        Aided in devlopement of a project with four team members that aims to help kids with autism/learning disorders by providing them with a controlled an safe environment to learn.
    </li>
    <li class="b" style="margin-left: 50px;">
            Developed using the <a class="resume_button" href="https://unity3d.com/" target="_blank" rel="nofollow noopener">Unity engine</a>
             and a <a class="resume_button" href="https://www.leapmotion.com/" target="_blank" rel="nofollow noopener">Leap Motion controller</a>.
    </li>


    <br>
    <br>

    <p style="text-align:center;">
            <img src="../assets/images/axure.png" width="75" height="75" />
        </p>
        <li class="a">
            <b>Redesigned LLNL.gov</b>
            <a href="https://zm03s2.axshare.com/home.html" target="_blank">
                <img src="../assets/images/chainlink.png" width="25" height="25">
            </a>
        </li>
    
        <li class="c">
            Website Mockup
        </li>
        <li class="c text-muted small">
                <a class="resume_button" href="../assets/files/JordanLewis_LLNL_Redesign.pdf" target="_blank" rel="nofollow noopener">Written Report PDF</a>
        </li>
        <li class="b" style="margin-left: 50px;">
            I used <a class = "a" href="https://www.axure.com/">Axure</a> to create a mockup redesign of the Lawrence Livermore National Laboratory website.
        </li>
        <li class="b" style="margin-left: 50px;">
                The goal of this project was to make measurable improvement on the design of LLNL.gov (i.e. shorter time between the user loading the website and finding the desired information).
        </li>
        <li class="b" style="margin-left: 50px;">
                After running an independent sample two-tailed T-test on the total task times of two groups of participants in the study (original website vs the redesigned website) with an alpha value of 0.05,
                I concluded that the difference in time to find the specified information <i>was significant</i> with a t-value of 2.64575 and a p-value of .029449.
        </li>
    <br>
    <br>
    <p style="text-align:center;">
            <img src="../assets/images/unity.png" width="75" height="75" />
        </p>
        <li class="a">
            <b>Block Game</b>
            <a href="https://www.kongregate.com/games/WindwardLeaf/block-game" target="_blank">
                <img src="../assets/images/chainlink.png" width="25" height="25">
            </a>
        </li>
    
        <li class="c">
            Video Game
        </li>
        <li class="c text-muted small">
            Only runs in IE 11 or Safari / must have <a href="https://unity3d.com/webplayer" target="_blank">Unity Web Player </a> installed
        </li>
        
        <li class="b" style="margin-left: 50px;">
            A simple flash game that I made in high school in my free time.
        </li>
        <li class="b" style="margin-left: 50px;">
            Developed using the <a class="resume_button" href="https://unity3d.com/" target="_blank" rel="nofollow noopener">Unity engine</a>.
        </li>

        
    
</ul>
<br>
<br>