<h2>Projects</h2>

<ul class="b">
    <p style="text-align:center;">
        <img src="../assets/images/personalwebsite.png" width="147" height="120" />
    </p>
    <li class="a">
        <b>www.JordanAllenLewis.com</b>
        <a href="https://github.com/jordanallenlewis/Jordan-Lewis-Personal-Website" target="_blank">
            <img src="../assets/images/github.png" width="25" height="25">
        </a>
    </li>

    <li class="c">
      Personal Website
    </li>
    
    <li class="b" style="margin-left: 50px;">
        A personal project intended to showcase my academic and technical portfolio to potention employers. 
    </li>
    <li class="b" style="margin-left: 50px;">
            Developed using Angular 6 (Typescript, HTML, CSS).
    </li>
    
</ul>
<br>
<br>