<h2>Projects</h2>

<ul class="b">
    <p style="text-align:center;">
        <img src="../assets/images/personalwebsite.png" width="73.5" height="60" />
    </p>
    <li class="a">
        <b>www.JordanAllenLewis.com</b>
        <a href="https://github.com/jordanallenlewis/Jordan-Lewis-Personal-Website" target="_blank">
            <img src="../assets/images/github.png" width="25" height="25">
        </a>
    </li>

    <li class="c">
      Personal Website
    </li>
    
    <li class="b" style="margin-left: 50px;">
        A personal project intended to showcase my academic and technical portfolio to potential employers. 
    </li>
    <li class="b" style="margin-left: 50px;">
            Developed using Angular 6 (Typescript, HTML, CSS).
    </li>

    <br>
    <br>

    <p style="text-align:center;">
            <img src="../assets/images/unity.png" width="75" height="75" />
        </p>
        <li class="a">
            <b>Block Game</b>
            <a href="https://www.kongregate.com/games/WindwardLeaf/block-game" target="_blank">
                <img src="../assets/images/chainlink.png" width="25" height="25">
            </a>
        </li>
    
        <li class="c">
            Video Game
        </li>
        <li class="c text-muted small">
            Only runs in IE 11 or Safari / must have Unity Web Player installed
        </li>
        
        <li class="b" style="margin-left: 50px;">
            A simple flash game that I made in high school using the Unity game engine. 
        </li>
        <li class="b" style="margin-left: 50px;">
                Programmed in C#
        </li>
    
</ul>
<br>
<br>