
<!-- <div class="fade"> -->

<div class="container-fluid bg">

  <br>
  <br>
  <br>

  
<h2>Jordan Lewis</h2>

  
    <img src="/assets/images/jordan_grandma.jpg" alt="Circular" width="275" height="275" class="center circular">
    
  

    <!-- <div style="padding-top: 50px;">
  <p class="b">
    I recently graduated <i>cum laude</i> from Arizona State University with a B.S. in Computer Science. I have interned the last three summers at the Lawrence Livermore National Laboratory where I've gained real-world applied experience working with experts in their field in a research and development environment. </p>  
  </div> -->
  <div style="padding-top: 50px;">
    <p class="b" style="text-align: center;">
      I am currently a Software Engineer at USAA, collaborating in agile development environment to create ETL processes. <br> I am a pursuing a master's degree at the Georgia Institute of Technology, studying Computer Science with a focus on computing systems. <br> I graduated from Arizona State University with a B.S. in Computer Science in 2019 (<i>cum laude</i>).</p>  
    </div>
  <br>
  <div style="padding-bottom: 50px; padding-top:90px;">
  <div align="center">


    <div class="item">
      <img src=""/>
          <a href="https://www.linkedin.com/in/jordanallenlewis/" target="_blank">
            <img src="../assets/images/linkedin.png" width="50" height="50">
          </a>
      <span class="caption">LinkedIn</span>
    </div>
    



    <div class="item">
        <img src=""/>
      <a href="https://github.com/jordanallenlewis" target="_blank" >
        <img src="../assets/images/github.png" width="50" height="50">
        </a>
        <span class="caption">GitHub</span>
      </div>


      <div class="item">
          <img src=""/>
              <a href="mailto:jordanallenlewis@gmail.com?Subject=" target="_blank">
                <img src="../assets/images/email.png" width="50" height="50">
              </a>
          <span class="caption">Email</span>
        </div>

    <div class="item">
        <img src=""/>
        
      <a href="../assets/files/JordanAllenLewis_Resume.pdf" target="_blank" >
      <img src="../assets/images/resume.png" width="50" height="50">
      </a>
      <span class="caption">Resume</span>
    </div>
    </div>
  </div>
 </div>


<!-- </div> -->