
<div class="container-fluid bg">
  <br>
  <br>
  <br>

  
<h2>Jordan Lewis</h2>

  <!-- PROFILE CARD -->

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <div class="card">
    <img src="/assets/images/jordan.jpg" alt="John" style="width:100%">
    <h1>Jordan Lewis</h1>
    <p class="title">Computer Science
      <br>Student</p>
    <div class="button_cont" align="center">
      <a class="resume_button" href="../assets/resume/JordanLewis_Resume.pdf" target="_blank" rel="nofollow noopener">CV/Resume</a>
    </div>
    <br>
  </div>
  <!-- <p style="text-align:center">
      My name is Jordan Lewis and I am currently a Senior at Arizona State University majoring in computer science.
  </p> -->
</div>

