
<div class="container-fluid bg">
  <br>
  <br>
  <br>

  
<h2>Jordan Lewis</h2>

  <!-- PROFILE CARD -->

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <div class="card">
    <img src="/assets/images/jordan.jpg" alt="John" style="width:100%">
    <h1>Jordan Lewis</h1>
    <p class="title">Computer Science
      <br>Student</p>
    <div class="button_cont" align="center">
      <a class="resume_button" href="../assets/resume/JordanLewis_Resume.pdf" target="_blank" rel="nofollow noopener">CV/Resume</a>
    </div>
    <br>
  </div>
  <p class="b">I'm a senior at Arizona State University in the Ira A. Fulton Schools of Engineering Computer Science Program. I have worked the last three summers as a student intern in the Computation Directorate/Institute for Scientific Computing Research at the Lawrence Livermore National Laboratory in Livermore, California.
  </p>  
  <p class="b">
        Apart from my academic life, I enjoy keeping active and training in Brazilian Jiu-Jitsu at the Charles Gracie Jiu-Jitsu Academy. I'm a member of the Software Developers Association (SoDA) and participate in weekly meetings to expand my involvement in the engineering community and connect with other students that are passionate about programming and software engineering.
  </p>
  <br>
  <div style="padding-bottom: 50px">
  <div align="center">
    <a href="https://www.linkedin.com/in/jordanlewis133/" target="_blank">
      <img src="../assets/images/linkedin.png" width="50" height="50">
    </a>
    <a class = "padding "href="mailto:jordanallenlewis@gmail.com?Subject=" target="_top">
      <img src="../assets/images/email.png" width="60" height="60">
    </a>
  </div>
  </div>
</div>

