hr {
    display: block;
    position: relative;
    padding: 0;
    margin: 8px auto;
    height: 0;
    width: 50%;
    max-height: 0;
    font-size: 1px;
    line-height: 0;
    clear: both;
    border: none;
    border-top: 1px solid rgb(130, 183, 223);
    border-bottom: 1px solid #ffffff;
 }


 .background
 {
    background: rgba(130, 183, 223, 0.089) 
 }