<!-- Routing Outlet -->
<!-- <app-sidebar></app-sidebar> -->


<div class="background">
<a name="about"></a>
<router-outlet>
    <app-menubar></app-menubar>
</router-outlet>
<hr>
<a name="education"></a>
<app-education></app-education>
<hr>
<a name="skills"></a>
<app-skills></app-skills>
<hr>
<a name="experience"></a>
<app-experience></app-experience>
<hr>
<a name="projects"></a>
<app-projects></app-projects>
<hr>
<a name="activities"></a>
<app-activities></app-activities>
<!-- <hr>
<app-footer></app-footer> -->
</div>