<a name="skills"></a>
<h2>Skills</h2>
<div class = "center">
    <img src="../assets/images/c.png" title="C Programming Language" width="75" height="75" />
    <img src="../assets/images/csharp.png" title="C# Programming Language" width="75" height="75" />
    <img src="../assets/images/c++.png" title="C++ Programming Language" width="75" height="75" />
    <img src="../assets/images/java.png" title="Java Programming Language" width="75" height="75" />
    <img src="../assets/images/angular.png" title="Angular Web Developement Framework" width="75" height="75" />
    <img src="../assets/images/javascript.png" title="JavaScript Programming Language" width="75" height="75" />
    <img src="../assets/images/html5.png" title="HTML 5 Programming Language" width="75" height="75" />
    <img src="../assets/images/css.png" title="CSS Programming Language" width="75" height="75" />
    <img src="../assets/images/python.png" title="Python Programming Language" width="75" height="75" />
    <img src="../assets/images/matlab.png" title="MatLab Programming Language" width="75" height="75" />
    <img src="../assets/images/git.png" title="Git Version Control" width="75" height="75" />
    
</div>
<br>
<br>
