<a name="skills"></a>
<div class = "center">
    <img src="../assets/images/c.png" width="75" height="75" />
    <img src="../assets/images/csharp.png" width="75" height="75" />
    <img src="../assets/images/c++.png" width="75" height="75" />
    <img src="../assets/images/java.png" width="75" height="75" />
    <img src="../assets/images/angular.png" width="75" height="75" />
    <img src="../assets/images/javascript.png" width="75" height="75" />
    <img src="../assets/images/html5.png" width="75" height="75" />
    <img src="../assets/images/css.png" width="75" height="75" />
    <img src="../assets/images/git.png" width="75" height="75" />
    
</div>
