<div class="header" id="myHeader">

 
<p>
    <img src="/assets/images/location.png"style="width:18.400000000000002px;height:24.5px;">
    Tempe, AZ / Livermore, CA
</p>

<ul>
    
<li><p><a href="#activities" style="float:right;text-decoration: none">Activities</a></p></li>
<li><p><a href="#projects" style="float:right;text-decoration: none">Projects</a></p></li>
<li><p><a href="#experience" style="float:right;text-decoration: none">Experience</a></p></li>
<li><p><a href="#skills" style="float:right;text-decoration: none">Skills</a></p></li>
<li><p><a href="#education" style="float:right;text-decoration: none" >Education</a></p></li>
<li><p><a href="#about" style="float:right;text-decoration: none">About</a></p></li>
</ul>




</div>

