<div class="header" id="myHeader">
 <!--Linkedin-->
 
<p><button type="button" class="btn btn-li" onclick="window.location.href = 'https://www.linkedin.com/in/jordanlewis133/';"><i class="fa fa-linkedin" ></i></button></p>


<ul>
<li><p><a href="http://google.com" style="float:right;text-decoration: none">Activities</a></p></li>
<li><p><a href="http://google.com" style="float:right;text-decoration: none">Projects</a></p></li>
<li><p><a href="http://google.com" style="float:right;text-decoration: none">Experience</a></p></li>
<li><p><a href="#skills" style="float:right;text-decoration: none">Skills</a></p></li>
<li><p><a href="#education" style="float:right;text-decoration: none" >Education</a></p></li>
<li><p><a href="#about" style="float:right;text-decoration: none">About</a></p></li>
</ul>




</div>

