
<div class="header" id="myHeader" >
    
        <div style="position:fixed;right: 0;top: 0%; float:right;text-decoration: none; padding-right: 75px; padding-top: 10px">
                <nav id="primary_nav_wrap" >
                <ul >
                  <li style="background: none; border: none"><img src="../assets/images/hamburger.png" width="30" height="30" style="margin-left:40px;">
                    <ul style = "border: 2px solid rgba(130, 183, 223, 0.08);border-radius: 15px;background:rgba(130, 183, 223, 0)">
                        <li><p><a href="#about">About</a></p></li>
                        <li ><p><a href="#education">Education</a></p></li>
                        <li><p><a href="#experience">Experience</a></p></li>
                        <li><p><a href="#projects">Projects</a></p></li>
                        <li><p><a href="#activities">Activities</a></p></li>
                        
                    </ul>
                  </li>
                  </ul>
                </nav>
            </div>
</div>
